<div [style.padding-top]="paddingTop" id="container">
  <div id="content">
    <div id="left">
      <h2>Projects</h2>
      <p>
        Here are some of the key projects I have worked on, showcasing my skills
        in web development, artificial intelligence, and data analysis. Each
        project reflects a unique challenge I tackled and the solutions I built
        along the way.
      </p>
      <ul>
        <li>Murabi Website</li>
        <li>FalconEye</li>
        <li>AI-Based Arabic Digit Recognition</li>
        <li>Data Visualization Dashboard</li>
      </ul>
    </div>
    <div id="right">
      <img src="work3.jpg" alt="" class="skills__img" style="width: 100%" />
    </div>
  </div>
</div>
