* {
  color: var(--color-btn-small);
  border: none;
  text-decoration: none;
  color: var(--color-text);
  background-color: var(--color-body);
}
#main {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#content {
  width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#left {
  flex: 6;
  display: flex;
  flex-direction: column;
}
#left-top h1 {
  line-height: 1.4; /* try 1.3–1.8 */
  font-size: var(--big-font-size);
  font-weight: bold;
}
#left-top h1 span {
  color: var(--color-btn-big);
}
#left-bottom {
  padding-top: 30px;
}
#left-bottom button {
  display: inline-block;
  background-color: var(--color-btn-big);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--small-weight);
  border-radius: 0.5rem;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }
}
#right {
  flex: 4;
  min-width: 288px;
}
.home__blob {
}
.section-title {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}
.section-title h2 {
  color: var(--color-btn-big);
  font-size: var(--h2-section-title);
  font-weight: bold;
  position: relative;
}

.section-title h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.25rem;
  left: 0;
  top: 40px;
  background-color: var(--color-btn-big);
}
@media screen and (max-width: 773px) {
  #right svg {
    max-width: 300px;
  }

  #right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 380px) {
  #left-top h1 {
    font-size: var(--medium-font-size);
  }
  #right {
    max-width: 250px;
  }
  .section-title h2 {
    font-size: var(--section-title-small);
  }
}
@media screen and (max-width: 335px) {
  #content {
    display: block;
    width: 100%;
  }
  #right {
    padding-top: 15px;
    min-width: 150px;
  }
  #left-top h1 {
    font-size: var(--small-font-size);
  }
  .section-title h2 {
    font-size: var(--section-title-extra-small);
  }
}
@media screen and (max-width: 310px) {
  #right {
    max-width: 230px;
  }
  #left-top h1 {
    font-size: var(--extra-small-font-size);
  }
  #left-bottom button {
    padding: 0.6rem 2.3rem;
  }
  .section-title h2 {
    font-size: var(--section-title-extra-extra-small);
  }
}
@media screen and (max-width: 246px) {
  #left-top h1 {
    font-size: var(--extra-extra-small-font-size);
  }
  #left-bottom button {
    padding: 0.45rem 2.1rem;
  }
  .section-title h2 {
    font-size: var(--section-title-extra-extra-extra-small);
  }
}
